@charset "utf-8";
/* CSS Document */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

#topnav {
	text-align:right;
	background-color:#232323;
	width:100%;
}

#topnav a {
	color:#CBCBCB;
	text-decoration:none;
	padding:0px 30px 0px 10px;
	line-height:300%;
	font-size:20px;
	
}

#botnav {
	text-align:left;
	background-color:#FFFFFF;
	width:100%;
	border: 1px solid #CCCCCC;
	padding: 5px
}

#botnav a {
	color:#575757;
	font-weight:bold;
	text-decoration:none;
	padding:0px 20px 0px 10px;
	line-height:200%;
	font-size:20px;
}

#wrapper1 {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#wrapper2 {
	background-color:#FFFFFF;
	border: 1px solid #cccccc;
	padding-left: 7px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper2 p {
	float:right;
	width:60%;
	padding-right:10px;
	font-size:18px;
}

#wrapper2 img {
	padding:9px;
	width:35%;
	height:auto;
}

.wish {
	text-align:center;
}

.wish a {
	background-color:#DFDFDF;
	border:1px solid #cccccc;
	width:80%;
	padding:5px 30px 5px 30px;
	color:#0700AA;
	text-decoration:none;
	font-weight:bold;
	line-height:200%;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#header1 {
	font-size:65px;
	color:#232323;
	padding:10px 0px 10px 0px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left:10px;
}

#header2 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#232323;
}

#header3 {
	float:right;
	width:60%;
}

#wrapper2 table {
	width:60%;
	float:right;
	font-size:14px;
}

.type {
	font-weight:bold;
}

.img {
	text-align:justify;
	white-space:nowrap;
	display:inline-block;
	justify-content:space-between;
	width:132px;
	
}

.img img {
	display:inline;
	margin:1px;
	border:1px solid #cccccc;
}

.img p {
	
}

#row {
	justify-content:space-between;
	width:100%;
	white-space:nowrap;
	text-align:center;
}

#footer {
	text-align:center;
	background-color:#232323;
	width:100%;
	float:left;
}

#footer p {
	color:#E8E8E8;
	font-size:18px;
	text-align:center;
}

#black {
	background-color:#000000;
}

#red {
	background-color:#FF0004;
}

#green {
	background-color:#1A8600;
}












































